#container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background-color: burlywood;
    flex-wrap: wrap;
    box-shadow: inset 0 0 5px #000000;
}
.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: fixed;
}
.book {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-width: 200px;
}