#container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 1.2rem;
  display: flex;
  background-color: burlywood;
  flex-wrap: wrap;
  box-shadow: inset 0 0 0.3rem #000000;
}

.btn {
  padding: 0.6rem 1.2rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  font-size: 1rem;
  position: fixed;
}

.book {
  font-family: Arial, sans-serif;
  margin: 1.2rem;
  padding: 0.6rem;
  border: 0.06rem solid #ccc;
  border-radius: 0.3rem;
  background-color: #f9f9f9;
  min-width: 12rem;

  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.book .actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.7rem;
}

.book button {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.2s ease, transform 0.1s ease;
}

.toggle-btn {
  background-color: #e0f2fe;
  color: #0369a1;
}
.toggle-btn:hover {
  background-color: #bae6fd;
}

.remove-btn {
  background-color: #fee2e2;
  color: #991b1b;
}
.remove-btn:hover {
  background-color: #fecaca;
}

dialog {
  padding: 4.3rem;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.2);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

dialog input {
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

#cancel-btn {
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #f44336;
  color: white;
}
#cancel-btn:hover {
  background-color: #d32f2f;
}

#submit-btn {
  padding: 0.3rem;
  font-size: 0.9rem;
  font-weight: bold;
  background-color: #4CAF50;
  color: white;
}
#submit-btn:hover {
  background-color: #388E3C;
}